<nav class="navbar navbar-expand-lg navbar-custom p-0">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="logo">
                    <img src="/fixMate-logo-transparent.png"/>
                </div>
                <div>
                    <button class="coloured-btn" onclick="window.location.href='index.php?page=auth&mode=signup'">Get started</button>

                </div>
            </div>
        </div>
    </nav>