<footer class="footer">
    <div class="container">
        <div class="text-white row align-items-start justify-content-between">
            <div class="d-flex flex-column brand col-12 col-md-4">
                <div class="logo">
                    <img src="public/fixMate-white-logo-transparent.png"/>
                </div>
                <p class="text-white">Streamline your workflow with our powerful ticket management system.</p>
            </div>
            <div class="quick-links col-12 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.php?page=auth">Home</a></li>
                    <li><a>Login</a></li>
                    <li><a>Signup</a></li>
                </ul>
            </div>
            <div class="contact col-12 col-md-4">
                <h5>Contact</h5>
                <p>support@fixmate.com</p>
                <p>© {{ "now"|date("Y") }} fixMate. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>